@page "/"
@using System.Text;
@using BlazorDownloader.Hubs;
@using Microsoft.AspNetCore.SignalR;
@using Microsoft.AspNetCore.SignalR.Client;
@inject IDownloadService downloadService
@inject IHttpContextAccessor httpContextAccessor
@inject Blazored.Toast.Services.IToastService ToastService
@inject IJSRuntime JS
@inject IHubContext<GlobalHub> _hubContext
@inject NavigationManager Navigation
@inject NavigationManager NavigationManager


@* <table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">Copy download Link</th>
            <th class="text-center" scope="col">File Name</th>
            <th class="text-center" scope="col">Total Size</th>
            <th class="text-center" scope="col">Downloaded Size</th>
            <th class="text-center" scope="col">Progress</th>
            <th scope="col">Cancel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                <MudProgressLinear Color="Color.Primary" Value="@Value" Class="my-7" />
            </td>
        </tr>
        <tr>
            <td><button class="btn btn-primary btn-lg oi oi-layers"></button></td>
            <td class="w-50 text-break text-center">----</td>
            <td class="text-center">----</td>
            <td class="text-center">-----</td>
            <td class="text-center">--------------</td>
            <td><button class="btn btn-danger btn-lg oi oi-ban" ></button></td>
        </tr>
    </tbody>
</table> *@



<PageTitle>Download Platform</PageTitle>

<div class="card">
    <div class="card-header">
        Download To Server
    </div>
    <div class="card-body">
        <div class="form-group">
            <input name="Link" @bind="@currentLink" class="form-control" id="link" placeholder="Enter link here">
        </div>
        <br />
        <center>
            <button @onclick="DownloadLink" class="btn btn-success ">Download To Server</button>
        </center>
    </div>
</div>


@{
    if (DownloadService.fileNameUrlDownloading.Count != 0)
    {
        <br />
        <div class="card">
            <div class="card-header">
                Downloading
            </div>
            <div class="card-body">
                <div class=" table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th scope="col">Copy download Link</th>
                                <th class="text-center" scope="col">File Name</th>
                                <th class="text-center" scope="col">Total Size</th>
                                <th class="text-center" scope="col">Downloaded Size</th>
                                <th class="text-center" scope="col">Progress</th>
                                <th scope="col">Cancel</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in DownloadService.fileNameUrlDownloading)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <MudProgressLinear Color="Color.Primary" Value="@(item.processPercent ?? 0)" Class="my-7" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-primary btn-lg oi oi-layers" @onclick="() => copyLinkToClipboard(item.url)"></button></td>
                                        <td class="w-50 text-break text-center">@item.fileName</td>
                                        <td class="text-center">@DownloadService.byteToRealSize(item.downloadFileSize??0)</td>
                                        <td class="text-center">@DownloadService.byteToRealSize(item.downloadedSize)</td>
                                        <td class="text-center">@(item.processPercent == null ? "" : $"{item.processPercent:0.##}%") </td>
                                        <td><button class="btn btn-danger btn-lg oi oi-ban" @onclick="() => cancelItem(item.url)"></button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
}
@{
    if (DownloadService.fileNameUrlDownnloaded.Count != 0)
    {
        <br />
        <div class="card">
            <div class="card-header">
                Downloaded
            </div>
            <div class="card-body">
                <ul class="list-group" id="item-list">
                    <!-- Example item with remove button -->
                    @{
                        foreach (var item in DownloadService.fileNameUrlDownnloaded)
                        {
                            var link = $@"{_baseURL}/{Program.downloadFolder}/{item}";
                            <li style="background:cornsilk" class="list-group-item d-flex justify-content-between align-items-center text-break">
                                <a download href="@link">@item</a>
                                <div>
                                    <a download="" href="@link"><button class="btn btn-sucess btn-lg oi oi-data-transfer-download"></button></a>
                                    <button class="btn btn-danger btn-lg oi oi-delete" @onclick="() => deleteItem(item)"></button>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
}

@code {
    private HubConnection? hubConnection;
    string _baseURL = string.Empty;
    private string currentLink { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        // If NotLoggedIn
        //NavigationManager.NavigateTo("Login");

        DownloadService.fileNameUrlDownnloaded.Clear();
        // Dont Show file as downloaded while downloading
        var files = new DirectoryInfo(Program.downloadRootPath).GetFiles().Where(f => !DownloadService.fileNameUrlDownloading.Any(x => x.fileName == f.Name));
        foreach (var item in files)
            DownloadService.fileNameUrlDownnloaded.Add(item.Name);

        _baseURL = $"{httpContextAccessor?.HttpContext?.Request.Scheme}://{httpContextAccessor?.HttpContext?.Request.Host}";

        hubConnection = new HubConnectionBuilder()
             .WithUrl(Navigation.ToAbsoluteUri("/GlobalHub"))
             .Build();

        hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            InvokeAsync(StateHasChanged);
        });
        await hubConnection.StartAsync();

    }
    private async void DownloadLink()
    {
        if (string.IsNullOrEmpty(currentLink))
        {
            ToastService.ShowWarning("Please Enter Your Link To Download");
            return;
        }

        Uri uri = null;
        try
        {
            uri = new Uri(currentLink);
        }
        catch
        {
            ToastService.ShowError("please Enter A Valid Url");
            return;
        }

        var fileName = uri.Segments.Last();


        var prompted = await downloadService.PromptForDownloadAndDownloadAtLast(UpdateStateAndNotifyOthers, Program.downloadRootPath, currentLink, fileName);
        if (!prompted)
        {
            ToastService.ShowWarning($"Max download of server riched, Please wait for other tasks to complete");
            return;
        }

        var res = await downloadService.DownloadFromUrlAsync(UpdateStateAndNotifyOthers, Program.downloadRootPath, currentLink, fileName);

        if (!res)
            ToastService.ShowError($"Problem With Download {fileName}");
    }
    protected async Task copyLinkToClipboard(string text)
    {
        await JS.InvokeVoidAsync("clipboardCopy.copyText", text);
    }
    protected async Task cancelItem(string key)
    {
        await DownloadService.removeDownloadingItem(UpdateStateAndNotifyOthers, key, Program.downloadRootPath, removeFileAlso: true);
    }
    protected async Task deleteItem(string fileName)
    {
        await DownloadService.removeDownloadedItem(UpdateStateAndNotifyOthers, fileName, Program.downloadRootPath);
    }
    private async Task<bool> UpdateStateAndNotifyOthers()
    {
        this.StateHasChanged();
        if (hubConnection is not null)
            await _hubContext.Clients.All.SendAsync("ReceiveMessage", "State has changed!");
        return true;
    }

}


